body{
    background-color: rgb(134, 131, 131);
}
.wraper-1{
    background-image: url(../../public/image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.signup_title{
    font-weight: 900 !important;
    font-size: 30px !important;
    color: blueviolet;
}
.input_field{
    width: 85% !important;
}
[type="text"]{
    color:rgb(242, 242, 247) !important;
    font-size: 19px !important;
}
::placeholder { 
    color: #fff !important;
    opacity: 1 !important; 
    font-size: 15px !important;
  }
.input_box{
    display: flex !important;
    justify-content: space-between !important;
}
.checkbox{
    color: white !important;
}
.input_data{
    overflow-y: scroll !important;
    height: 60vh !important;
}
.task_complete{
    font-size: 12px !important;
}
.MuiButton-root{
    margin-top: 6px !important;
}